.footer {
  @apply flex flex-col items-center gap-8 m-auto py-5;
  @media screen and (max-width: 1584px) {
    padding-left: calc(15px + (48 - 15) * ((100vw - 320px) / (1584 - 320)));
    padding-right: calc(15px + (48 - 15) * ((100vw - 320px) / (1584 - 320)));
  }
  max-width: 1536px;
}

.heading {}
.menu {
  ul {
    @apply flex items-center gap-6;
    a {
      @apply uppercase transition tracking-widest relative;
      &:hover {
        &::after {
          @apply w-full right-auto left-0;
        }
      }
      &::after {
        content: '';
        @apply w-0 absolute right-0 -bottom-2 h-0.5 transition-all duration-300 bg-green;
      }
    }
  }
}
.newsletter {
  @apply flex gap-6 items-center justify-between w-full;
  @media screen and (max-width: 575px) {
    @apply flex-col;
  }
  > div {
    @apply w-full w-80;
    input {
      @apply uppercase tracking-widest border-gray-100;
    }
  }
  p {
    @apply whitespace-nowrap text-dark-beige text-xs select-none;
  }
}