.miniature {
  @apply rounded-3xl relative p-5 pt-0 mb-20 mt-8 relative transform-none text-center;
  background: rgba(232, 231, 227, 0.5);
  backdrop-filter: saturate(180%) blur(5px);

  >div {
    @apply relative;
  }
  .info-wrapper {
    @apply flex gap-4 items-center mt-4 overflow-hidden;
  }
  &:hover {
    .image {
      transform: scale(1.03) translateY(-3%);
    }
  }
  .image {
    @apply max-w-full -mt-28 mx-auto transition duration-1000;
  }
  .heading {
    @apply text-xl capitalize text-beige mt-1 font-bold leading-8 transition;
    &:hover {
      @apply text-dark-beige;
    }
  }
  .price {
    @apply text-green text-lg text-beige;
  }
  &:hover {
    transition-duration: 350ms;
  }
}