.trending-products {
  @apply flex gap-4 pt-12 pb-32;
  @media screen and (max-width: 990px){
    @apply flex-col-reverse gap-8;
  }
  .info {
    @apply flex justify-center flex-col;
    @media screen and (max-width: 990px) {
      @apply text-center;
    }
    flex: 1 1 calc(40% - 2rem);
    .rating {
      @apply flex gap-4 mt-6;
      @media screen and (max-width: 990px) {
        @apply justify-center;
      }
      > div {
        display: flex!important;
        @apply items-center
      }
    }
    .title {
      @apply text-6xl font-bold text-dark-beige transition;
      @media screen and (max-width: 767px) {
        @apply text-5xl;
      }
      @media screen and (max-width: 575px) {
        @apply text-4xl;
      }
      &:hover {
        @apply text-green;
      }
    }
    .price {
      @apply text-3xl flex gap-4 items-center tracking-widest font-bold text-green;
    }
    .description {
      @apply mt-4;
    }
  }
  .actions {
    @media screen and (max-width: 990px) {
      @apply flex flex-col items-center;
    }
    .add {
      @apply flex w-9/12 items-center mt-8 gap-4;
      @media screen and (min-width: 991px) and (max-width: 1199px) {
        @apply w-11/12;
      }
      @media screen and (max-width: 575px) {
        @apply w-full flex-col;
      }
      button {
        @apply mt-0;
      }
    }
    > div:not(.add) {
      @apply w-9/12 mt-8;
      @media screen and (max-width: 575px) {
        @apply w-full;
      }
    }
  }
  .image {
    @apply relative flex justify-center items-center;
    flex: 1 1 calc(50% - 2rem);

    &:hover::before {
      transform: translateX(-50%) rotate(20deg) scale(1.025);
    }

    &::before {
      content: '';
      @apply absolute z-0 rounded-full left-1/2 -translate-x-2/4 bottom-0 overflow-hidden transition transition-transform duration-1000;
      -webkit-backdrop-filter: saturate(180%) blur(5px);
      backdrop-filter: saturate(180%) blur(5px);
      width: 600px;
      max-width: 100%;
      height: 600px;
      max-height: 100%;
      background: rgba(232, 231, 227, 0.5) url("../../../../common/assets/images/coffee-texture.png") no-repeat right;
      background-size: contain;

    }
    img {
      @apply z-10 relative;
    }
  }
  .miniatures {
    @apply flex flex-col justify-between items-center gap-4;
    flex: 1 1 calc(10% - 2rem);
    @media screen and (max-width: 1199px) {
      flex: 1 1 calc(10% - 2rem);
    }
    @media screen and (max-width: 990px){
      @apply flex-row;
    }
    .miniature {
      @apply relative;
      @media screen and (min-width: 1200px){
        width: 155px;
        max-width: 100%;
        height: 155px;
        max-height: 100%;
      }
      @media screen and (min-width: 991px) and (max-width: 1199px) {
          width: 100px;
          height: 100px;
      }
      &::before {
        content: '';
        width: 130px;
        max-width: 100%;
        height: 130px;
        max-height: 100%;
        @apply absolute bg-trending-2 rounded-full bottom-0 left-1/2 -translate-x-2/4 z-0;
      }
      &:first-child::before {
        @apply bg-trending-1;
      }

      &:last-child::before {
        @apply bg-trending-3;
      }
      &:hover {
        img {
          transform: rotate(7deg) scale(1.1);
        }
      }
      img {
        @apply relative z-10 block m-auto transition;
      }
      .badge {
        @apply leading-none absolute text-dark-beige gap-2 flex justify-between items-center z-20 bottom-0 right-0 p-2 rounded-xl bg-white shadow-lg font-bold;
        svg {
          max-width: 10px;
          @apply  text-star;
        }
      }
    }
  }
}